@import url(./iranSansFont/style.css);
@import url(./font/font.css);

html,
body {
  font-family: "IRANSans" !important;
  padding: 0;
  margin: 0;
  direction: rtl;
}

:root {
  --orange: #f60;
  --orangeDark: #3a190b;
  --secWidth: 1580px;
  --gray: #666;
  --grayLight: #f4f4f4;
}

#root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
}

#root > div > div {
  width: 100%;
  max-width: var(--secWidth);
  padding: 0 30px;
}

#promotionContainer {
  height: 40px;
  background-image: url("./img/promo_baner.avif");
  background-color: rgb(255, 233, 202);
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: 1920px 40px;
  z-index: 9999;
}

#headerContainer {
  height: 624px;
  background: url("./img/hSectionBack.jpg") no-repeat center;
  background-size: cover;
  background-position: 97%;
}

.defHeader {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: white;
  height: 40px;
}

.defHeader #logo {
  width: 209px;
  height: 29px;
  background: url("./img/logo-dark.png") no-repeat center;
  background-size: contain;
}

.signupBtn {
  background-color: var(--orange);
  padding: 0 24px;
  height: 36px;
}

.signinBtn {
  margin-right: 28px;
}

.lang-Curency {
  margin-right: 28px;
}
.deliverBtn {
  margin-right: 28px;
}

.dFlag {
  width: 20px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.secondaryMenu > div {
  margin-left: 28px;
}

#tileContainer {
  background-color: var(--orangeDark);
  padding: 60px 20px !important;
}

.navTile {
  width: 276px;
  height: 350px;
  padding: 40px 20px !important;
  background-color: hsla(0, 0%, 100%, 0.03);
  color: white;
  border-radius: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tileList {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px !important;
}

.tileIcon {
  aspect-ratio: 1/1;
  width: 60px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.08);
  padding: 10px;
}

.navTile:hover {
  background-color: rgba(255, 102, 0, 0.12);
}

.tileTitle {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 20px 0;
  min-height: 60px;
}

.tileDis {
  color: #fff;
  font-size: 16px;
  height: auto;
  letter-spacing: 0;
  line-height: 22px;
  min-height: 88px;
  text-align: justify;
  text-justify: inter-word;
}

#bizCatContainer{
    padding: 120px 0 !important;
}

.bizCatHrader {
  min-width: 500px;
  color: #222;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

.bizCatStatics {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  width: 500px;
  margin-right: 50px;
}

.bizCatStatics > div {
  padding-right: 16px;
  position: relative;
}
.bizCatStatics > div ::after {
  background-color: #ddd;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 86%;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
}

.bizCatStatics > div :first-child {
  direction: ltr !important;
  text-align: right !important;
  color: var(--orange);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.73px;
  line-height: 44px;
}

.bizCatStatics > div :nth-child(2) {
  color: var(--orangeDark);
  text-align: start;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.prodList{
    margin-top: 110px;
    height: 320px;
}
